@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #333;
  margin: 0px; }

h1 {
  font-size: 92px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }


.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @inlude user-select(none);
  border: 1px solid #f36f21;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #f36f21; }
  @media (max-width: 767px) {
    .main-btn {
      font-size: 14px;
      padding: 0 25px;
      line-height: 43px; } }
  .main-btn i {
    font-size: 12px;
    margin-left: 5px; }
  .main-btn:hover {
    background-color: #fff;
    color: #f36f21;
    border-color: #f36f21; }
  .main-btn.main-btn-2 {
    background-color: #fff;
    color: #f36f21;
    border-color: #f36f21; }
    .main-btn.main-btn-2:hover {
      background-color: #f36f21;
      border-color: #f36f21;
      color: #fff; }


.section-title h5 {
  position: relative;
  font-size: 18px;
  color: #f36f21;
  font-weight: 500;
  padding-left: 110px; }
  .section-title h5::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #f36f21;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
.section-title .title {
  font-size: 32px; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 26px; } }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  z-index: 9999; }
  .preloader .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px; }
    .preloader .spin .cube1, .preloader .spin .cube2 {
      background-color: #f36f21;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      -moz-animation: sk-cubemove 1.8s infinite ease-in-out;
      -o-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out; }
    .preloader .spin .cube2 {
      -webkit-animation-delay: -0.9s;
      -moz-animation-delay: -0.9s;
      -o-animation-delay: -0.9s;
      animation-delay: -0.9s; }


@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }


.header-area {
  padding: 30px 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9; }
  .header-area.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
    -moz-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
    box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
    z-index: 999;
    padding: 10px 0;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
  .header-area .navbar {
    padding: 0; }
    .header-area .navbar .navbar-brand {
      padding-bottom: 10px; }
    .header-area .navbar .navbar-toggler .bar-icon {
      width: 30px;
      height: 2px;
      margin: 5px 0;
      background-color: #333;
      display: block;
      position: relative;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s; }
    .header-area .navbar .navbar-toggler.active .bar-icon:nth-child(1) {
      top: 7px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header-area .navbar .navbar-toggler.active .bar-icon:nth-child(2) {
      opacity: 0; }
    .header-area .navbar .navbar-toggler.active .bar-icon:nth-child(3) {
      top: -7px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        padding: 10px; } }
    @media (max-width: 767px) {
      .header-area .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        padding: 10px; } }
    .header-area .navbar .navbar-nav .nav-item {
      margin-left: 30px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .navbar .navbar-nav .nav-item {
          margin: 5px 0; } }
      @media (max-width: 767px) {
        .header-area .navbar .navbar-nav .nav-item {
          margin: 5px 0; } }
      .header-area .navbar .navbar-nav .nav-item a {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s; }
      .header-area .navbar .navbar-nav .nav-item.active a, .header-area .navbar .navbar-nav .nav-item:hover a {
        color: #f36f21; }


      
.slider-active .slick-dots {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; }
  @media only screen and (min-width: 1400px) {
    .slider-active .slick-dots {
      left: 30px; } }
  .slider-active .slick-dots li {
    line-height: 0;
    margin: 15px 0; }
    .slider-active .slick-dots li button {
      width: 10px;
      height: 10px;
      font-size: 0;
      border: 0;
      background-color: #fbb0a5;
      border-radius: 50%;
      cursor: pointer; }
  .slider-active .slick-dots li.slick-active button {
    width: 15px;
    height: 15px;
    background-color: #f36f21; }

.single-slider {
  position: relative; }
  @media only screen and (min-width: 1400px) {
    .single-slider {
      padding: 0 100px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .single-slider {
      padding: 0 30px; } }
  .single-slider .slider-bg {
    background-color: #fffaf6; }
  .single-slider .slider-product-image img {
    width: 100%; }
  .single-slider .slider-product-image .slider-discount-tag {
    width: 125px;
    height: 125px;
    background-color: #f36f21;
    border-radius: 50%;
    text-align: center;
    display: table;
    position: absolute;
    top: 90px;
    right: -63px; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-image .slider-discount-tag {
        width: 100px;
        height: 100px;
        right: -50px;
        top: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-image .slider-discount-tag {
        width: 100px;
        height: 100px;
        right: -50px;
        top: 50px; } }
    .single-slider .slider-product-image .slider-discount-tag p {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 33px; }
  .single-slider .slider-product-content {
    max-width: 670px;
    margin-left: 125px; 
    margin-top: 50px;}
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-content {
        margin-left: 100px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-content {
        margin-left: 70px; } }
    @media (max-width: 767px) {
      .single-slider .slider-product-content {
        margin-left: 0;
        padding: 40px 15px 50px; } }
    .single-slider .slider-product-content .slider-title {
      font-size: 50px;
      z-index: 1; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 68px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 48px; } }
      @media (max-width: 767px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 42px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-slider .slider-product-content .slider-title {
          font-size: 52px; } }
      .single-slider .slider-product-content .slider-title span {
        position: relative; }
        .single-slider .slider-product-content .slider-title span::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 10px;
          background-color: rgba(254, 120, 101, 0.5);
          left: 0;
          bottom: 5px;
          z-index: auto; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single-slider .slider-product-content .slider-title span::before {
              bottom: 7px; } }
          @media (max-width: 767px) {
            .single-slider .slider-product-content .slider-title span::before {
              bottom: 8px;
              height: 6px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-slider .slider-product-content p br {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slider .slider-product-content p br {
        display: none; } }
    @media (max-width: 767px) {
      .single-slider .slider-product-content p br {
        display: none; } }

.slider-social {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 100%; }
  @media only screen and (min-width: 1400px) {
    .slider-social {
      padding: 0 100px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .slider-social {
      padding: 0 30px; } }
  .slider-social .social {
    position: relative; }
    .slider-social .social li {
      display: inline-block;
      margin: 0 5px; }
      .slider-social .social li a {
        font-size: 18px;
        color: #ddd;
        border: 1px solid #ddd;
        width: 30px;
        line-height: 32px;
        height: 30px;
        text-align: center;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s; }
        .slider-social .social li a:hover {
          color: #f36f21;
          border-color: #f36f21; }
    .slider-social .social::before {
      position: absolute;
      content: '';
      width: 70%;
      height: 1px;
      background-color: #f36f21;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .slider-social .social::before {
          width: 63%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .slider-social .social::before {
          width: 48%; } }
      @media (max-width: 767px) {
        .slider-social .social::before {
          width: 35%;
          left: 60px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .slider-social .social::before {
          width: 65%; } }

.services-area {
  background-color: #fffaf6; }
  @media (max-width: 767px) {
    .services-area {
      padding-top: 75px;
      padding-bottom: 80px; } }

.services-left {
  position: relative; }
  .services-left .services img {
    width: 100%; }

.single-services {
  border: 1px solid #ddd;
  padding: 25px 15px;
  background: #fff; }
  .single-services .services-icon i {
    font-size: 50px;
    color: #f36f21; }
  .single-services .services-content .title {
    font-size: 20px;
    color: #f36f21; }


.full-img-area {
  position: relative; }
  .full-img-area .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 100px; }
  @media (max-width: 767px) {
    .testimonial-area {
      padding-top: 100px; } }

.contact-area .contact-title .title {
  font-size: 30px;
  color: #333; }
  @media (max-width: 767px) {
    .contact-area .contact-title .title {
      font-size: 35px; } }
@media (max-width: 767px) {
  .contact-area {
    padding-top: 70px; } }

.contact-box {
  padding: 10px 40px 40px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  background-color: #fff; }
  @media (max-width: 767px) {
    .contact-box {
      padding: 0 20px  20px; } }

.contact-info .info-title {
  font-size: 26px;
  padding-bottom: 5px; }

.single-info {
  position: relative; }
  .single-info .info-icon {
    position: absolute;
    left: 0;
    top: 0; }
    .single-info .info-icon i {
      font-size: 20px;
      color: #f36f21; }
  .single-info .info-content {
    padding-left: 40px; }
    .single-info .info-content p {
      font-size: 18px;
      font-weight: 500; }
      @media (max-width: 767px) {
        .single-info .info-content p {
          font-size: 16px; } }

/*===========================
       12.FOOTER css 
===========================*/
.footer-area {
  position: relative; }

.footer-area::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 770px;
  bottom: 0;
  left: 0;
  background-size: 100% 100%;
  z-index: -1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area::before {
      height: 1450px; } }
  @media (max-width: 767px) {
    .footer-area::before {
      height: 1700px; } }

@media (max-width: 767px) {
  .footer-widget {
    padding-top: 30px;
    padding-bottom: 80px; } }

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 12px; }
  .footer-logo .footer-social li:first-child {
    margin-left: 0; }
  .footer-logo .footer-social li a {
    font-size: 16px;
    color: #777;
    width: 35px;
    height: 35px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
    box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    border-radius: 50%; }
    .footer-logo .footer-social li a:hover {
      background-color: #f36f21;
      color: #fff; }

.f-title {
  font-size: 20px;
  padding-bottom: 5px; }

.footer-link ul li {
  margin-top: 15px; }
  .footer-link ul li a {
    color: #777;
    font-size: 16px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
    .footer-link ul li a:hover {
      color: #f36f21; }

.footer-info {
  padding-left: 70px; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-info {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-info {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .footer-info {
      padding-left: 0; } }

.single-footer-info {
  position: relative; }
  .single-footer-info span {
    font-size: 16px;
    color: #777;
    position: absolute;
    top: 0;
    left: 0; }
  .single-footer-info .footer-info-content {
    padding-left: 80px; }

.footer-copyright {
  border-top: 1px solid #ddd; }
  .footer-copyright a {
    color: #f36f21; }
  .footer-copyright .copyright p {
    color: #333; }
    @media (max-width: 767px) {
      .footer-copyright .copyright p {
        font-size: 14px; } }

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  line-height: 40px;
  z-index: 99;
  text-align: center;
  display: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  color: #fff;
  background-color: #f36f21; }
  .back-to-top:hover {
    color: #f36f21;
    background-color: #fff; }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th {
      text-align: center;
      padding: 10px;
      background-color: #f36f21;
      color: #ffffff;
    }
    
    td {
      text-align: center;
      padding: 10px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}

